/* UTIL */
*:focus,
*:focus-visible{
    outline: 0 !important;
    box-shadow: 0 0 0 !important;
}

.nowrap{
    white-space: nowrap;
}

.ease{
    transition: all .2s ease;
}

// Z-index
.z-index-1{z-index: 1}
.z-index-2{z-index: 2}
.z-index-3{z-index: 3}
.z-index-4{z-index: 4}
.z-index-n1{z-index: -1}
.z-index-n2{z-index: -2}
.z-index-n3{z-index: -3}
.z-index-n4{z-index: -4}

// Scroll
.scrollable{
    overflow: auto;
}

// Visibility
.overflow-hidden-x{
    overflow-x: hidden;
}
.overflow-hidden-y{
    overflow-y: hidden;
}

// width
.scrollable.scroll-hidden::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.scrollable.scroll-hidden::-webkit-scrollbar-track{ background: transparent; }
.scrollable.scroll-hidden::-webkit-scrollbar-thumb{ background: transparent; }
.scrollable.scroll-hidden::-webkit-scrollbar-thumb:hover{ background: transparent; }
// ----

.no-webkit{
    -webkit-appearance: none;
}

// bg image
.bg-image{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
}
.image-cover{ object-fit: cover; }
.image-contain{ object-fit: contain; }

// EFFECTS
.hover-effect{

    .hover-effect-target{
        opacity: 0;
        @include transition(all .2s ease);
    }

    &:hover .hover-effect-target,
    &.active .hover-effect-target{
        opacity: 1;     
    }
}

.active-target{
    display: none !important;
}

.active .active-target{
    display: block !important;
}

/* -- */

$gridbreaks: ('': false, '-sm': '576px', '-md': '768px', '-lg': '992px', '-xl': '1200px', '-xxl': '1400px');

@mixin render-custom($break, $value) {

    // Container replace
    .container#{$break}{
        @if($value){
            max-width: #{$value};
        }
    }

    // Max width and height
    $dims: ("width": "w", "height": "h");
    $percent: '%';

    @each $dim, $size in $dims {
        .max-#{$size}#{$break}-none{
            max-#{$dim}: auto;
        }
        .min-#{$size}#{$break}-none{
            min-#{$dim}: auto;
        }
        @for $i-size from 1 through 24 {
          .max-#{$size}#{$break}-#{$i-size * 50}{
            max-#{$dim}: #{$i-size * 50}px;
          }
          .min-#{$size}#{$break}-#{$i-size * 50}{
            min-#{$dim}: #{$i-size * 50}px;
          }
        }

        @for $i-size from 1 through 10 {
            .#{$size}#{$break}-#{$i-size * 10}{
                #{$dim}: #{$i-size * 10 }#{$percent};
            }
            .v#{$size}#{$break}-#{$i-size * 10}{
                min-#{$dim}: #{$i-size * 10}v#{$size};
            }
            .v#{$size}-force#{$break}-#{$i-size * 10}{
                #{$dim}: #{$i-size * 10}v#{$size};
            }
        }
    }

    // Font-sizes
    .font#{$break}-14{
        font-size: .85rem;
    }

    .font#{$break}-18{
        font-size: 1.15rem;
    }

    @for $i from 1 through 32 {
      .font#{$break}-#{$i * 8}{
        font-size: #{$i * 0.5}rem;
      }
    }

    // Margin and Padding
    $types: ("padding": ".p", "margin": ".m");
    $sides: ("": "", "y": "-top", "x": "-right", "t": "-top", "r": "-right", "b": "-bottom", "l": "-left");

    @each $type, $first in $types {
        @each $side, $value in $sides {
            @for $i from 1 through 32 {
              #{$first}#{$side}#{$break}-#{$i * 8}{

                $prop: #{$i * 0.5};

                #{$type}#{$value}: #{$prop}rem;

                @if $side == y {
                    #{$type}-bottom: #{$prop}rem;
                }
                @if $side == x {
                    #{$type}-left: #{$prop}rem;
                }
              }
            }
            @if $type == margin {
                @for $i from 1 through 32 {
                    #{$first}#{$side}#{$break}--#{$i * 8}{
                   
                        $prop-n: #{$i * 0.5};

                        #{$type}#{$value}: -#{$prop-n}rem !important;

                        @if $side == y {
                            #{$type}-bottom: -#{$prop-n}rem !important;
                        }
                        @if $side == x {
                            #{$type}-left: -#{$prop-n}rem !important;
                        }
                    }
                }
            }
        }
    }
}

@each $break, $value in $gridbreaks {
    @if $value == false {
        @include render-custom($break, $value);
    }
    @else{
        @media only screen and (min-width: #{$value}) {
            @include render-custom($break, $value);
        }
    }
}