:root{
  --swiper-theme-color: var(--bs-red) !important
}

.swiper-visible{
  overflow: initial !important;
}

.swiper-visible.swiper-fade-out .swiper-slide{
  opacity: 0;
  transition: all .2s ease;
}

.swiper-visible.swiper-fade-out .swiper-slide.swiper-slide-active{
  opacity: 1;
}

.scroll-dots{
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction{
    bottom: 0;
    height: 4px;
    display: flex;
    border-radius: 1rem;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0;
    width: 100%;
    height: auto;
    border-radius: 0;
    padding: 0.15rem 2rem;
  }

  .swiper-pagination-bullet-active{
    background: var(--bs-purple) !important;
  }

  .active .opacity-active{
    opacity: 1 !important;
  }

  &.bg-invert .swiper-pagination-bullet{
    background: var(--bs-light) !important;
  }
}

.default-dots{
  .swiper-horizontal>.swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction{
    bottom: 0;
    height: 3px;
    display: flex;
    justify-content: center;
    border-radius: 1rem;
    margin-bottom: -3rem;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet{
    margin: 0 .25rem;
    height: auto;
    border-radius: 0;
    padding: 0rem 1rem;
  }

  .swiper-pagination-bullet{
    opacity: .25;
    background: var(--bs-purple) !important;
  }

  .swiper-pagination-bullet-active{
    padding-left: 2rem !important;
    opacity: 1 !important;
  }

  &.bg-invert .swiper-pagination-bullet{
    background: var(--bs-light) !important;
  }
}
