body {
  font-weight: 300;
  font-family: $font-family;
}

a,
a:hover,
a:visited,
a:focus {
  text-decoration: none !important;
}

.font-title {
  font-family: $font-family-sans-serif;
}

.font-content {
  font-family: $font-family;
}

.bg-theme-light {
  background-color: $bg-theme-light;
}

.rounded-7 {
  border-radius: 1.5rem;
}

.rounded-6 {
  border-radius: 1rem;
}

.rounded-5 {
  border-radius: 0.5rem;
}

.rounded-4 {
  border-radius: 0.25rem;
}

.blog-ear {
  position: absolute;
  top: -4rem;
  left: -4rem;
  width: 5rem;
  height: 7.5rem;
  border-top: 0.9rem solid #ee1d23;
  border-left: 0.9rem solid #ee1d23;
}

.ratio.maps {
  --bs-aspect-ratio: 24%;
}

iframe {
  width: 100%;
  height: 200px;
}

.cta1-ear {
  width: 5rem;
  height: 7.5rem;
  border-top: 0.9rem solid #fff;
  border-right: 0.9rem solid #fff;
}

.cta2-ear {
  width: 5rem;
  height: 7.5rem;
  border-top: 0.9rem solid #fff;
  border-right: 0.9rem solid #fff;
}

.h-250 {
  height: 250px;
}

.sobre-nos-ear {
  position: absolute;
  top: -4rem;
  left: -4rem;
  width: 5rem;
  height: 7.5rem;
  border-top: 0.9rem solid #ee1d23;
  border-left: 0.9rem solid #ee1d23;
}

.text-shadow{
  text-shadow: 0px 6px 48px rgb(0 0 0 / 23%);
}

.w-400 {
  width: 400px !important;
}

.h-300 {
  height: 300px !important;
}

ul .nav-link.active ~ .nav-link,
ul .nav-link.active {
  color: red !important;

  & > div:first-child {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      top: 13px;
      left: -30px;
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: red;
    }
  }

  .text-content {
    color: var(--bs-dark) !important;
  }

  &.border-secondary {
    border-color: red !important;
  }
}

.responsabilidades-ear {
  width: 5rem;
  height: 7.5rem;
  border-top: 0.9rem solid #fff;
  border-right: 0.9rem solid #fff;
}
